<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Some Thing BEST from BEST</title>
    <link type="text/css" rel="stylesheet" href="../css/e1.css"/>
    <link type="text/css" href="../css/themes/default/jx.stylesheet.css" rel="stylesheet" />
    <link href="../images/favico.ico" type="image/x-icon" rel="shortcut icon"/>
    <script type="text/javascript" src="../Js/lib/jQuery1.8.js"></script>
    <!-- jixedbar starts here 
    <script type="text/javascript" src="../Jquery -1.7.js"></script> -->
    <script type="text/javascript" src="../Js/lib/jquery.jixedbar.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var options = {
                showOnTop: true,
                transparent: true,
                opacity: 0.5,
                slideSpeed: "slow",
                roundedCorners: false,
                roundedButtons: false,
                menuFadeSpeed: "slow",
                tooltipFadeSpeed: "fast",
                tooltipFadeOpacity: 0.5
            };
            $("#demo-bar").jixedbar(options);
        });
    </script>
<!-- jixedbar ends here -->
</head>

<body>
    <div class="fxhdcnt">
        <div class="header"> 
        <a id="a_logo" href="javascript:void(0)">
            <span class="leftspace fleft pointer hs"><b>BEST</b> from The <b>BEST</b></span>
        </a>
        <span class="rightspace fright stspn pointer">&nbsp;</span>
        <span class="rightspace fright pointer hs"><b>{{ name }}</b></span>
        </div>
    </div>
    <div class="bothspace">
    Hello World
    <br/>
    Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>Hello World<br>adf
    </div>
    <!-- Do not put anything after this as it mayn't be visible as per css flow-->
    <div class="fxhdcnt">
        <div class="bottombar header">
            <div class="bottomtopsapce">&copy; ItechBit - The world of Wizards</div>
        </div>
    </div>
    <div id="demo-bar">
        <ul>
            <li title="Home"><a href="#"><img src="../images/icons/home.png" alt="" /></a></li>
        </ul>
        <span class="jx-separator-left"></span>
		<ul>        
            <li id="web" title="Around The Web"><a href="#"><img src="../images/icons/network.png" alt="Get Social" /></a>
                <ul>
                    <li><a href="#"><img src="../images/icons/facebook.png" title="Facebook" />&nbsp;&nbsp;&nbsp;Facebook</a></li>
                    <li><a href="#"><img src="../images/icons/twitter.png" title="Twitter" />&nbsp;&nbsp;&nbsp;Twitter</a></li>
                    <li><a href="#"><img src="../images/icons/pictures.png" title="Flickr" />&nbsp;&nbsp;&nbsp;Flickr</a></li>
                    <li><a href="#"><img src="../images/icons/card.png" title="Linkedin" />&nbsp;&nbsp;&nbsp;Linkedin</a></li>
                </ul>
            </li>
        </ul>
        <span class="jx-separator-left"></span>
        <ul>
            <li id="About" title="About"><a href="#"><img src="../images/icons/info.png" alt="" /></a></li>
            <li id="Resume" title="Resume"><a href="#"><img src="../images/icons/blogs.png" alt="" /></a></li>
			<li id="Portfolio" title="Portfolio"><a href="#"><img src="../images/icons/block.png" alt="" /></a></li>
        </ul>
        <span class="jx-separator-left"></span>        
		<div class="text-container"><a href="#">jixedbar</a> - a <a href="http://jquery.com/">jQuery</a> fixed bar plugin.</div>
        <ul class="jx-bar-button-right">
			<li title="Feeds"><a href="#"><img src="../images/icons/feed.png" alt="" /></a>
                <ul>
        		    <li><a href="#"><img src="../images/icons/feed-doc.png" title="Content Feed" />&nbsp;&nbsp;&nbsp;Content Feed</a></li>
		            <li><a href="#"><img src="../images/icons/ballon.png" title="Comment Feed" />&nbsp;&nbsp;&nbsp;Comment Feed</a></li>
                </ul>
			</li>
        </ul>
        <span class="jx-separator-right"></span>
    </div>
</body>

</html>